<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href= "/public/assets/landing.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
        <link href="https://fonts.googleapis.com/css2?family=Girassol&family=Milonga&display=swap" rel="stylesheet">
        <title>AngelCamp</title>
    </head>
    <body>
        
        <div id="landing-header">
            <h1>AngelCamp</h1>
            <p>Rediscover The Joy Of Camping</p>
            <div class="landing-button">
                <a href="/campgrounds">Enter</a>
            </div>
        </div>
        
        <ul class="slideshow">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
    
        <%- include('partials/footer'); -%>
