body .navbar-inverse
{
    background-color:  #E2C74B;
    border-color: #E2C74B;
}
body .navbar-inverse .navbar-brand
{
    color:   rgb(92, 61, 3);
    font-family: 'Milonga', cursive;
}
body .navbar-inverse .navbar-nav>li>a
{
    color:   rgb(92, 61, 3);
    font-family:Georgia, 'Times New Roman', Times, serif;
}
body .navbar-inverse .navbar-toggle:focus, 
body .navbar-inverse .navbar-toggle:hover
{
    background-color: rgb(92, 61, 3);
}
#header
{
    background-color:  #E2C74B;
    color: rgb(92, 61, 3);
}
#header h1
{
    font-family: 'Milonga', cursive;
    
}
#header-login
{
    width: 700px;
    background-color:  #E2C74B;
    color: rgb(92, 61, 3);
}

.captions
{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #fff;
    margin-bottom: 20px;
}

.but
{
    height: 40px;
    width: 250px;
    border: 2px solid  rgb(92, 61, 3);
    color:   rgb(92, 61, 3);
    text-align: center;
    line-height: 35px;
    font-size: 20px;
    border-radius: 20px;
    transition: all 0.5s;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top: 35px;
}

.caption
{
   transition: all 0.5s;
}

body .but a,
.caption a
{
    text-decoration: none;
    color:   rgb(92, 61, 3);
}

.but:hover
{
    background-color:  rgb(92, 61, 3);
    color:  #fff;
    cursor: pointer;
    text-decoration: none;
}

body .but a:hover,
.caption a:hover
{
    color:  #fff;
    text-decoration: none;
}

.caption:hover
{
    background-color:  rgb(92, 61, 3);
}

body .thumbnail
{
    height: 292px;
    width: 350px;
    padding: 0;
}

body .thumbnail a img
{
    margin: 0;
    width: 100%;
    height: 240px;
}

.camp_block_bottom
{
    background-color:  #E2C74B;
}

.camp_block_bottom p
{
    margin-bottom: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

body .thumbnail .caption
{
    padding-bottom: 5px;
}

body .caption h4
{
    font-family: 'Milonga', cursive;
    font-size: 20px;
}

.camp_block_bottom .but
{
    width: 130px;
    height: 30px;;
    margin: auto auto;
    line-height: 25px;
}

.del-form
{
    display: inline;
}


@media screen and (max-width: 1100px)
{
    body .col-md-4 .thumbnail
    {
       width: 105%;
    }
}

@media screen and (max-width: 800px)
{
    body .col-md-4 .thumbnail
    {
       width: 100%;
    }
}

