body .col-md-9
{
    padding: 0;
}

.camp-show
{
    background-color: #E2C74B;
}
.camp .thumbnail
{
    width: 100%;
    background-color: #E2C74B;
    border: none;
}

.camp .thumbnail img
{
    width: 100%;
}

body .lead
{
    margin-top: 20vh;
    font-family: 'Milonga', cursive;
    text-align: center;
    background-color: #E2C74B;
    font-size: 40px;
}
body .well
{
    background-color: #E2C74B;
    border: none;
    box-shadow: none;
}

body .list-group li
{
    background-color: #E2C74B;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    border: none;
}

body .caption-full 
{
    margin: 10px;
}

body .caption-full p
{
    font-size: 18px;
}

body .well .btn
{
    display: inline-block;
}

body .camp form
{
    display: inline;
    text-align: right;
}

.new-comment-but
{
    text-align: right;
    margin-top: 30px;
}

.new-comment-but .but
{
    height: 80px;
    font-size: 15px;
    padding: 5px;
}

body form input .com-del
{
    display: inline;
}

.com-sec
{
   margin-top: 80px;
    margin-left: 300px;
}

.comments-sec
{
    background-color:  #E2C74B;;
}

.comment
{
    border-bottom: 1px solid rgb(92, 61, 3);
    margin-bottom: 5px;
    padding: 7px;
}

.author
{
    font-family: 'Milonga', cursive;
    font-size: 15px;
    color: #000;
}

@media screen and (max-width: 1100px)
{
    body .col-md-3 .lead
    {
        margin-top: 10vh;
    }

    .list-group
    {
        text-align: center;
    }
}

@media screen and (max-width: 800px)
{
    body .col-md-3 .lead
    {
        margin-top: 5vh;
    }
    body .com-sec
    {
        margin-left: 0px;
        margin-top: 110px;
    }
}
@media screen and (max-width: 500px)
{
    .text-center div
    {
        width: 100%;
    }
    form div input
    {
        width: 250px;
        height: 35px;
        font-size: 10px;
    }
    #header-login
    {
        width: 90%;
    }
}